.container{
    padding: 24px;
    border-right: 2px solid black;

    p{
        margin-bottom: 16px;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    
    }
}



